*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 24px;

}
h1, h2, h3, h4, h5, h6{
 font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/***********************
***** grobal titel code** 
******************/
.titel{
	width: 100%;
	text-align: center;
	padding-bottom: 40px;
}
.titel h2{
    font-size: 52px;
    font-weight: 700;
    color: #666699;
}
.titel p{
	width: 48%;
	margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    color: #666699;
}
/*end*/
.header{
	width: 100%; 

}
.top-header{
	width: 100%;
	padding: 8px 0px;
	background: #f5f7fa;
}
.info-details{
	width: 100%;
}
.info-details ul{
	width: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
} 
.info-details ul li{
	list-style: none;
	display: inline-block; 
}
.info-details ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #666699;
    margin-right: 12px;
}
.info-details ul li a .fa{
	margin-right: 5px;
}
.social-icons{
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	text-align: right;
}
.social-icons li{
    list-style: none;
	display: inline-block; 
}
.social-icons li a{
	font-size: 14px;
    font-weight: 700;
    color: #666699;
    margin-left: 12px;
    transition: 1s;
}
.social-icons li a:hover{
	 color: #00cc99;
}
.main-menu{
	width: 100%;
}
.main-menu .bg-light {
    background-color: transparent!important;
}
.main-menu .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #00cc99;
}
.main-menu .navbar-light .navbar-nav .nav-link {
    color:#666699;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 15px;

}
.main-menu .navbar-light .navbar-nav .nav-link:hover, .main-menu .navbar-light .navbar-nav .nav-link:focus{
	 color: #00cc99;
}
.main-menu .fa-search{
    color:#666699;
    font-size: 14px;
    font-weight: 600;	
}
.slider{
	width: 100%;
}
.slider .carousel-caption{
	bottom: 32%;
}
.slider .carousel-caption h2{
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.slider .carousel-caption p{
     font-size: 16px;
     line-height: 26px;
     color: #9999cc;
}
.slider .carousel-caption .btn-info{
	padding: 12px 30px;
	margin: 30px 0px 0px;
	font-size: 14px;
	font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #00cc99;
	background: #00cc99;
	transition: 1s;

}
.slider .carousel-caption .btn-info:hover, .slider.carousel-caption .btn-info:focus{
   color: #fff;
    border: 1px solid #00cc99;
	background: transparent;
} 
.who-we{
	width: 100%;
	padding: 80px 0px;
}
.who-we .card{
	border: none;
}
.who-we .card img {
    width: 50px;
    margin-top: 18px;
    margin: 15px 0px 0px 41px;
}

.who-we .card .card-body {

    padding: 1rem 25px;
}
.who-we .card img .lamp{
    width: 40px;
}
.who-we .card .card-body .card-title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #666699;
}
.who-we .card .card-body .card-text{
	 font-size: 12px;
     line-height: 22px;
     color: #9999cc;
}
.latest-work{
	width: 100%;
	padding: 80px 0px;
	background: #f2f5f7; 
}
.latest-work .card{
margin-top: 30px;
text-align: center;
}

.latest-work .card .card-title{
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
    color: #666699;
}
.latest-work .card .card-text{
	 font-size: 14px;
     line-height: 24px;
     color: #9999cc;
     margin-bottom: 0px;
}

